div#widget-category-container {
   width: 100%;
   display: flex;
   min-width: 300px;
   align-items: baseline;
   flex-wrap: wrap;
   justify-content: center;
   font-size: 20px;
   letter-spacing: .34px;
}

.category-container {
   background: rgb(2, 129, 2);
   border-radius: 2px;
   box-shadow: 0 5px 10px 2px rgb(29 41 44 / 23%);
   font-family: Segoe UI;
   text-decoration: none;
   border-bottom: 2px solid rgba(0, 0, 0, .11);
   margin-right: 4px;
   margin-bottom: 9px;
   padding: 4px 8px 2px;
   color: #fff;
}

.category-container:hover {
   background-color: rgb(0, 104, 0);
}

.widget-container {
   background-color: #fff;
   border-radius: 10px;
   border: 1px solid #27ae60;
   border-top: 8px solid #27ae60;
   box-shadow: 0 5px 10px 2px rgb(29 41 44 / 23%);
   font-size: 1rem;
   margin-bottom: 1rem;
   color: #fff;
}

.title {
   background-color: #27ae60;
   color: #fff;
   padding: 20px;
   text-align: center;
   margin-bottom: 20px;
   border-radius: 5px;
}

.center {
   display: flex;
   justify-content: center;
}

.lecredit {
   float: right;
   font-size: 45px;
   margin-bottom: 20px;
   font-weight: bold;
   color: green;
}

.lecreditnon {
   float: right;
   font-size: 45px;
   margin-bottom: 20px;
   font-weight: bold;
   color: rgb(157, 157, 157);
}

.graph_aoe {
   width: 95%;
   height: 70dvh;
}